{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}
{% block title %} LogIn Page {% endblock %}

{% block wrapper %}
	<!-- Wrapper -->
	<div id="wrapper">
{% endblock %}

{% block content %}
	{{super()}}
  	<div class="container">
    	<div class="row">
			<div class="col-lg-6 mt-4 col-md-10 mx-auto">
				<!--TODO: render login form here-->
				{{form.csrf_token}}
				{{render_form(form, novalidate=True)}}
		<!--        <div class="d-flex justify-content-center">&ndash;&gt;-->
				<a href="{{url_for('register')}}" class="button small">registered me!</a>
				<a href="{{url_for('account_recover', forget_pass=True)}}" class="button small"> forget password </a>
		<!--          </div>-->
			</div>
    	</div>
  	</div>
{% endblock %}