{% extends 'base.html' %}
{% block title %} Create Post {% endblock %}
{% from 'bootstrap5/form.html' import render_form %}

{% block wrapper %}
	<!-- Wrapper -->
	<div id="wrapper">
{% endblock %}

{% block content %}
	{{super()}}
	<div class=" row">
		<div class="mt-4 container col-xl-12">
		  <!-- TODO: Show a different h2 if editing existing post -->
			{% if is_edit: %}
				<h2><u>Edit Post</u></h2>
			{% else:%}
				<h2> <u>New Post</u></h2>
			{% endif %}
		</div>

		<div class="col-xl-12 col-lg-8 col-md-10 mx-auto">
			<!-- TODO:-Add CKEditor and render the form here -->
			<form method="post" novalidate>
			{{ ckeditor.load() }}
			{{ ckeditor.config(name='body')}}
			{{render_form(form, button_map={"submit": "primary"})}}
				</form>
			<a class="px-4" href="{{url_for('home')}}">Back to Home</a>
		</div>
	</div>

{% endblock %}