{% extends 'base.html' %}
{% block title %} Blog Details {% endblock %}

<!--{% block styles %}-->
<!--	{{super()}}-->
<!--	<link rel="stylesheet" href="style.css" />-->
<!--{% endblock %}-->

{% block wrapper %}
	<!-- Wrapper -->
	<div id="wrapper">
{% endblock %}

{% block content %}
	{{super()}}
	<!-- Main -->
	<div id="main">
		<article class="post featured">
			<header class="major">
				<span class="date">{{blog.date}}</span>
				<h2><a href="{{url_for('show_post', post_id= blog.id)}}">{{blog.title}}</a></h2>
				<p>{{blog.subtitle}}</p>
			</header>
			<a href="{{url_for('show_post', post_id= blog.id)}}" class="image main">
					<img src="{{blog.img_url}}" alt="img here" width="900" height="500" />

			</a>
			<p>{{ blog.body|safe}}</p>

			<div class="d-flex justify-content-center">
				{% if current_user.id == 1: %}
					<a href="{{url_for('edit_post', post_id= blog.id)}}" class="mx-3 button small">Edit Post</a>
				{% endif %}
				<a href="{{url_for('home')}}" class="button small">Back to Home</a>
			</div>
		</article>
	</div>
{% endblock%}
