{% extends 'base.html' %}
{% block title %} Confirm Delete {% endblock %}

{% block wrapper %}
	<!-- Wrapper -->
	<div id="wrapper">
{% endblock %}

{% block content %}
	{{super()}}
    <div id="main">
        <!-- TODO: add a flash message here for users registering twice -->
			{% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p><span style="color: red" class="flash">{{ message }}</span></p>
                    {% endfor %}
                {% endif %}
			{% endwith %}

        <h2>recover account</h2>

        <div class="container">
            <span style="color: blue">Please provide the following details:</span>
            <form action="{{url_for('account_recover')}}" method="POST">
                <div class="form-group">
                    <label class="mt-3" for="password">Enter your email id:</label>
                    <input type="email" class="form-control" id="email" name="mail">
                    <label class="mt-3" for="password">Enter your pet name:</label>
                    <input type="text" class="form-control" id="pet" name="pet">
                </div>
                    <button class="mt-3 btn btn-primary" name="login" type="submit">LogIn</button>
                <button class="mt-3 mx-2 btn btn-secondary" name="register" type="submit">register me!</button>
                <button class="mt-3 btn btn-secondary" name="cancel" type="submit">cancel</button>
            </form>
        </div>
    </div>
{% endblock %}
