{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}
{% block title %} Registration Page {% endblock %}

{% block wrapper %}
	<!-- Wrapper -->
	<div id="wrapper">
{% endblock %}

{% block content %}
	{{super()}}
  	<div class="container">
    	<div class="row">
			<div class="mt-4 col-lg-6 col-md-10 mx-auto">
				<!--TODO: render login form here-->
				{{form.csrf_token}}
				{{render_form(form, novalidate=True)}}

				{% if is_detail_update_active: %}
					<a href="{{url_for('home')}}" class="button small">cancel</a>
				{% else: %}
					{% if not current_user.is_authenticated: %}
						<a href="{{url_for('login')}}" class="button small">already registered! LogIn</a>
					{% endif %}
				{% endif %}
			</div>
    	</div>
  	</div>
{% endblock %}
