{% extends 'base.html' %}
{% block title %} User Detail {% endblock %}

{% block wrapper %}
	<!-- Wrapper -->
	<div id="wrapper">
{% endblock %}

{% block content %}
	{{super()}}
    <div id="main">
        <div class="container">
             <!-- TODO: add a flash message here for users registering twice -->
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p class="flash">{{ message }}</p>
					{% endfor %}
				{% endif %}
		  	{% endwith %}

            <h1>User Details</h1>
            <form class="mt-5">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" value="{{current_user.username}}" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" value="{{current_user.email}}" readonly>
                </div>
                <a type="submit" href="{{url_for('user_details', user_update= True)}}" class="mt-4 btn btn-primary btn-sm">Update Details</a>
                <a type="submit" href="{{url_for('account_delete')}}" class="mt-4 btn btn-danger btn-sm">Delete Account</a>
                <a href="{{url_for('home')}}" class="mt-4 btn btn-secondary btn-sm">Back to Home</a>
            </form>
        </div>
    </div>
{% endblock %}